* {
  margin: 0;
  padding: 0%;

  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  padding: auto;
}
nav {
  margin-top: 2rem;
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: rgb(12, 12, 12);
}
p {
  color: black(25, 21, 226);
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h2 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 p {
  font-size: 19px;
  font-style: italic;
}
.btn {
  display: inline-block;
  background: rgb(227, 208, 42);
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}

#header {
  background: radial-gradient(#fff, #fedf6e);
  height: 100vh;
}
#header .row {
  margin-top: 70px;
}


.brands{
  margin: 100px auto;
  text-align: center;
  padding: 10px 10px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  
  transition:transform 0.5s ;

}
.col-5{
    width: 160px;

}
.col-5 img{
    width: 50%;
   cursor: pointer; 
   filter: grayscale(3%);
}

.mhead{
  font-size: 1.5rem;
}

.testimonial{
  padding-top: 0px;
  padding-bottom: 5px;
}
.testimonial .col-3{
  text-align: center;
  padding: 5px;
  width: 30rem;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor:pointer;
  transition:transform 0.3s ;

}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 3px;
  border-radius: 50%;
}

.testimonial .col-3:hover{
  transform: translateY(-10px);

}
.testimonial .col-3 h1{
  font-size: 50px;
  color: rgb(240, 138, 43)
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: rgb(95, 95, 93);
}
.testimonial .col-3 h4{
  font-weight: 600;
  color: rgb(38, 39, 39);
  font-size: 16px;
}

.testimonial .mhead{
  text-align: center;
}


footer {
  margin-top: 2.15rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #73787b;
  height: auto;
  width: 100%;
  font-family: "Open Sans";
  padding-top: 10px;
  color: #ecf0f3;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p {
  /* max-width: 500px; */
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.6rem 0 0.6rem 0;
}
.socials li {
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #fff;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: var(--Lgreen);
}
.footer-bottom {
  background: #73787b;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 200;
}
