<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
     <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <img src="https://www.freepnglogos.com/uploads/shopify-logo-png/shopify-plus-partner-logo-3.png"
                        alt="" width="200px">
                </div>
                <nav>
                    <ul>
                        <li><a href="file2.html">Home</a></li>
                        <li><a href="file2.html">Products</a></li>
                        <li><a href="file2.html">About</a></li>
                        <li><a href="file2.html">Contact</a></li>
                        <li><a href="file2.html">Account</a></li>
                    </ul>
                </nav>
                <img src=""
                    alt="" width="45px">
                    <!-- <img src="https://www.clipartmax.com/png/middle/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png" alt="" class="menuicon"> -->
            </div>
            <div class="row">
                <div class="col-2">
                    <h2>Give your workout <br>
                        A new style!</h2>
                    <p>Success isn't always about greatness. It's about consistency. <br> Consistent hard work gains
                        success.
                        Greatness will come.</p>
                    <a href="" class="btn">Explore now &#8594;</a>
                </div>
                <div class="col-2">
                    <img src="/images/landing.png"
                        width="1200px" alt="">
                </div>
            </div>
        </div>
    
</body>
</html>