<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">





</head>

<body>
    <div id="header"  >
        <div class="container">
            <div class="navbar">
                <div class="logo">

                </div>
                <nav>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="mentorSign">Mentor SignUp</a></li>
                        <li><a href="mentorLogin">Mentor Login</a></li>
                        <li><a href="menteeLogin"><b>Mentee Login</b></a></li>
                        {{!-- <li><a href="file2.html">Account</a></li> --}}
                    </ul>
                </nav>
                <img src="" alt="" width="45px">
                <!-- <img src="https://www.clipartmax.com/png/middle/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png" alt="" class="menuicon"> -->
            </div>
            <div class="row">
                <div class="col-2">
                    <h2>Get your progress tracked!</h2>
                    <p>Success isn't always about greatness. It's about consistency. <br> Consistent hard work gains
                        success.
                        Greatness will come.</p>
                </div>
                <div class="col-2">
                    <img src="/images/landing.png" width="1200px" alt="">
                </div>
            </div>
        </div>
  
         <!-- -------brands------ -->
    <div class="brands">


        <div class="mhead">Improve your coding, get placed in FAANG !</div>
        <div class="smallcontainer">
            <div class="row">
                <div class="col-5">
                    <img src="/images/fb.png"
                        alt="">
                </div>
                <div class="col-5">
                    <img src="/images/apple.png" alt="">
                </div>
                <div class="col-5">
                    <img src="/images/amazon.png"
                        alt="">
                </div>
                <div class="col-5">
                    <img src="/images/netflix.png"
                        alt="">
                </div>
                <div class="col-5">
                    <img src="/images/google.png" alt="">
                </div>
            </div>
        </div>
    </div>


<div class="testimonial">
    <div class="mhead">Testimonials</div>
        <div class="smallcontainer">
            <div class="row">
                <div class="col-3">
                    <h1>&#10077;</h1>
                    
                    <img src="/images/aryan.png"
                        alt="">
                        <p>This platform helped me to track my progress on the coding platforms which enabled me to improve and finally getting placed at Amazon.</p>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734;
                    </div>
                    <h4>Aryan Pandey</h4>
                </div>
                <div class="col-3">
                    <h1>&#10077;</h1>
                    
                    <img src="/images/keshab.png"
                        alt="">
                        <p>This platform helped me to track my progress on the coding platforms which enabled me to improve and finally getting placed at Facebook.</p>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734;
                    </div>
                    <h4>Keshab </h4>
                </div>
                <div class="col-3">
                    <h1>&#10077;</h1>
                    
                    <img src="/images/shreya.png"
                        alt="">
                        <p>This platform helped me to track my progress on the coding platforms which enabled me to improve and finally getting placed at Netflix.</p>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734;
                    </div>
                    <h4>Shreya</h4>
                </div>
            </div>

        </div>
    </div>

<footer id="foot">
      <div class="footer-content">
        <h3>TrackIT</h3>
        <p>759, 13th main, 13, th main, 3rd Block, Rajajinagar, Bengaluru, Karnataka 560010
          <br>
          +(91)7998074332</p>
        <ul class="socials">

          <li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
          <li><a href=""><i class="fa-solid fa-square-phone"></i></a></li>

        </ul>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2022 |All rights reserved by
          <span>Team Sanskaris</span>
        </p>
      </div>
    </footer>


</body>

</html>