<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mentee Dashboard</title>
  <link rel="stylesheet" href="/css/menteeDash.css" />
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
  <div class="navigation">
    <ul>

      <li class="list">
        <a href="">
          <span class="text">Mentee Dashboard </span><i style="color:black" class="fa-solid fa-user-plus"></i>
        </a>
      </li>
      <li>
        <div id="edit">
          Edit
        </div>
      </li>
      <li>
        <div id="delete">
          Delete
        </div>
      </li>
    </ul>
  </div>
  <div class="details">
    <div class="name">Name : <span> Keshab Kataruka</span></div>
    <div class="email">Email : <span>keshab0121@gmail.com</span></div>
    <div class="usn">USN : <span>1DS20CS103</span></div>
  </div>

  <div class="codechef">
    <h3 class="mhead">CodeChef statistics</h3><br>
    <div id="codechefdiv">
      <div class="chefleft">
        <h4>Current rating : <span id="rate"></span></h4>
        <h4>Current stars : <span id="stars"></span></h4>
        <h4>Country rank : <span id="crank"></span></h4>
      </div>
      <div id="curve_chart1" style="width: 900px; height: 500px"></div>
    </div>
  </div>

  <div class="codeforces">
    <h3 class="mhead">Codeforces statistics</h3>
    <div id="codechefdiv">
      <div class="chefleft">
        <h4>Current rating : <span id="cfrate"></span></h4>
        <h4>Current rank : <span id="cfrank"></span></h4>
      </div>
      <div id="curve_chart2" style="width: 900px; height: 500px"></div>
    </div>
  </div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="/menteeStats.js"></script>

  <div class="leetcode">
    <h3 class="mhead">Leetcode statistics</h3>
    <div id="codechefdiv">
      <div class="chefleft">
        <h4>Total problems solved : <span id="total"></span></h4>
      </div>
      <div id="piechart" style="width: 900px; height: 500px;"></div>
    </div>
  </div>





  <div class="atcoder">
    <h3 class="mhead">AtCoder statistics</h3>
    <div id="codechefdiv">
      <div class="chefleft">
        <h4>Current rating : <span id="total">3646</span></h4>
      </div>
      <div id="piechart2" style="width: 900px; height: 500px;"></div>
    </div>
  </div>

</body>
<script src="/menteeStats.js" type="module"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
  var url_string = window.location;
  var url = new URL(url_string);
  var usn = "";
  console.log(url);
  for (var i = 12; i < 22; i++) {
    usn += url.pathname[i];
  }
  console.log(usn);
  var name = document.getElementsByClassName('name')
  var email = document.getElementsByClassName('email')
  var usnd = document.getElementsByClassName('usn')
  usnd.innerHTML = usn
</script>
<script type="module">
  import {
    remove,
    getDatabase,
    get,
    ref,
    child,
    update,
  } from "https://www.gstatic.com/firebasejs/9.9.0/firebase-database.js";
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.0/firebase-app.js";
  import { final } from "/menteeStats.js";
  const firebaseConfig = {
    apiKey: "AIzaSyDBHmrl7oJmnxjEGhXaTrhuk5sOS01b3bs",
    authDomain: "ic-hacks.firebaseapp.com",
    databaseURL: "https://ic-hacks-default-rtdb.firebaseio.com",
    projectId: "ic-hacks",
    storageBucket: "ic-hacks.appspot.com",
    messagingSenderId: "89955355894",
    appId: "1:89955355894:web:c8e52d51f7117c76b070d7",
  };
  var cc = "";
  var cf = "";
  const app = initializeApp(firebaseConfig);
  const database = getDatabase(app);
  const dbref = ref(database);
  const edit = document.getElementById('edit')
  const deleted = document.getElementById('delete')
  const usnInt = parseInt(usn)
  get(child(dbref, "mentee/" + usn))
    .then((snapshot) => {
      if (snapshot.exists()) {
        const data = snapshot.val()
        console.log(data)
        cc += data.codechef
        cf += data.codeforces
        name = data.name
        email = data.email
        console.log(cc, cf)
        final(cc, cf)
      } else {
        alert("unsuccessful");
      }
    })
    .catch((error) => {
      console.error(error);
    });
  edit.addEventListener('click', (err) => {
    update(ref(dbref, "mentee/" + usn), {
      name: pname,
      number: pno,
      usn: usn,
      email: email,
      codechef: codechef,
      codeforces: codeforces
    }).then(() => {
      console.log("loggng")
    })
  })

  deleted.addEventListener('click', (err) => {
    remove(ref(dbref, 'mentee/1DS20CS153'))
      .then(() => {
        console.log("hello boys")
      })
  })
</script>
<script src="/menteeStats.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</html>