<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentor Dashboard</title>
    <link rel="stylesheet" href="/css/mentorDash.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="navigation">
        <ul>
            <li class="list">
                <a href="/mentorDash">
                    <span class="text">Mentor Dashboard</span>
                </a>
            </li>
            <li class="list">
                <a href="/addMentee">
                    <span class="text">Add new Mentees </span><i style="color:black" class="fa-solid fa-user-plus"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="details">
        <p><span class="name">Name : </span> <span class="n">ABC</span> </p>
        <p><span class="email">Email : </span> <span class="e">abc</span></p>
    </div>
    <div class="testimonial">
        <div class="smallcontainer">
            <div class="row" id="fill"></div>
        </div>
    </div>
    <script src="/datafirebase.js" type="module"></script>
</body>
<script>
    const usnValue = document.getElementsByClassName('col-3')
    console.log(usnValue.length)
    usnValue.forEach()
    function give(data){
        alert("hello")
    }
</script>

</html>