<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/menteeSign.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <div class="split-screen">
        <div class="left">
            <img src="/images/login.png" alt="">
        </div>
        <div class="right" data-aos="fade-up">
            <section class="googlesignup">
                <h2>Mentee Login</h2>
            </section>
            <br>
            <div class="form" data-aos="fade-up">
                <div class="input-container">
                    <label for="phno">Enter your phone number</label>
                    <input id="phno" name="phno" type="text" placeholder="Mobile Number" required>
                </div>
                <div id="recaptcha-container"></div>
                <button class="register-btn" id="submitbtn" type="submit" value="Sign Up">Click here to get</button>
                </section>
            </div>
        </div>
    </div>
</body>


<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>

</html>