<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mentorSign.css">
    <title>Mentor Sign Up</title>
</head>

<body>
    <div class="split-screen">
        <div class="left">
        </div>
        <div class="right" data-aos="fade-up">
            <section class="googlesignup">
                <h2>Mentor SignUp</h2>
            </section>
            <br>
            <div class="form" data-aos="fade-up">
                <div class="input-container">
                    <label for="fname">Full Name</label>
                    <input id="fname" name="fname" type="text" placeholder="Full Name" required>
                </div>
                <div class="input-container">
                    <label for="email">Email address</label>
                    <input id="email" name="email" type="email" placeholder="Email" required>
                </div>
                <div class="input-container">
                    <label for="mentorid">Mentor ID</label>
                    <input id="mentorid" name="mentorID" type="text" placeholder="Menter ID" required>
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Password" required>
                    <i class="far fa-eye-slash"></i>
                </div>
                <button class="register-btn" id="submitbtn" type="submit">Register</button>
                </section>
            </div>
        </div>
    </div>
</body>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.9.0/firebase-app.js";
    import { getDatabase, set, ref } from "https://www.gstatic.com/firebasejs/9.9.0/firebase-database.js";
    import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.9.0/firebase-auth.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyDBHmrl7oJmnxjEGhXaTrhuk5sOS01b3bs",
        authDomain: "ic-hacks.firebaseapp.com",
        databaseURL: "https://ic-hacks-default-rtdb.firebaseio.com",
        projectId: "ic-hacks",
        storageBucket: "ic-hacks.appspot.com",
        messagingSenderId: "89955355894",
        appId: "1:89955355894:web:c8e52d51f7117c76b070d7"
    };
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const auth = getAuth(app);
    submitbtn.addEventListener('click', (err) => {
        var fname = document.getElementById('fname').value;
        var email = document.getElementById('email').value;
        var password = document.getElementById('password').value;
        var mentorid = document.getElementById('mentorid').value;
        set(ref(database, 'mentors/' + mentorid), {
            name: fname,
            email: email
        }).then(
            () => {
                createUserWithEmailAndPassword(auth, email, password)
                    .then((userCredential) => {
                        const user = userCredential.user;
                        window.open('/mentorLogin', "_self")
                    })
                    .catch((error) => {
                        const errorCode = error.code;
                        const errorMessage = error.message;
                        console.log(error)
                        alert("Please check your password or email")
                    });
            }
        )

    });
</script>

</html>